@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --main : #39B54A;
    --bg: #0b1218;
    --bg-body: #E6E7E8;
}

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar{
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: var(--bg);
    width: 280px;
    overflow-y: auto;
}

.brand {
    padding: .5rem 1rem;
    display: flex;
    color: var(--main);
    align-items: center;
    height: 70px;
}

.brand h2 {
  color: gray;
}

.brand2 {
    padding: .5rem 1rem;
    display: flex;
    color: gray;
    background: rgb(35,44,49);
    align-items: center;
    height: 40px;
    margin-left: 0;
    margin-top: 3rem;
}

.brand span {
    font-size: 1.8rem;
    margin-right: .5rem;
}

.sidemenu{
    padding: .5rem;
}

.sidemenu li {
    margin-bottom: .8rem;
}

.sidemenu a {
    color: gray;
    font-size: .85rem;
    display: flex;
    align-items: center;
}

.sidemenu a span:first-child {
    font-size: 1.3rem;
    padding:  0rem .6rem;
}

.sidemenu a.active  {
  color: var(--main);
    border-radius: 5px;
}

.main-content {
    margin-left: 280px;
    min-height: 100vh;
    background: var(--bg-body);
    padding: .5rem 1rem;
  
}

header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-body);
    padding: 0rem 1rem;
    position: fixed;
    left: calc(280px + 1rem);
    right: 1rem;
    top: .5rem;
}

input, button{
    outline: none;
}

.menu-toggle{
    height: 45px;
    width: 45px;
    color: grey;
    display: flex;
    place-items: center;
    
}

.menu-toggle span:first-child {
    padding:  0rem .6rem;
}

.search{
    display: flex;
    width: 85%;
    overflow-x: hidden;
    align-items: center;
    background: white;
}

.search span {
    font-size: 1.3rem;
    padding-left: 1rem;
    color: gray;
}

.search input{
    flex: 1;
    height: 50px;
    border-radius: 20px;
    border: none;
    padding: 1rem;
}

main{
    margin-top: calc(70px + .5rem);
    padding: 1rem, 0rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}

.chart-grid{
    background: white ;
}
.card{
    background: white ;
    padding: 2rem 1rem ;
    margin-top: 5%;
}

.card-icon{
    text-align: center;
}

.card span {
    height: 50px;
    width: 50px;
    color: gray;
    font-size: 1;
}
hr{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
}

.circle {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  margin-left: 2rem;
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: var(--main)
  }

  .container {
    width: 100%;
    background-color: #ddd;
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }
  
  .html {width: 90%; background-color: #04AA6D;}
  .css {width: 80%; background-color: #2196F3;}
  .js {width: 65%; background-color: #f44336;}
  .php {width: 60%; background-color: #808080;}

